<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gecko.reform.demo.dao.ExportMapper">
    <select id="getExportList" resultType="org.gecko.reform.demo.dto.ExportDTO">
        SELECT TABLE_NAME                        AS tableName,
               COLUMN_NAME                       AS columnName,
               COLUMN_TYPE                       AS columnType,
               IF(COLUMN_KEY = 'PRI', '是', '否')  AS columnKey,
               IF(IS_NULLABLE = 'YES', '是', '否') AS nullable,
               COLUMN_COMMENT                    AS columnComment
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE table_schema = #{schema,jdbcType=VARCHAR}
        ORDER BY table_name
    </select>
</mapper>